/******************************************************************************
FSWD:  Christopher B. Zenner
Date:  03/07/2020
File:  style.css
Ver.:  0.1.0 20200306

This CSS specifies the layout and style for the Crystals Collector game.
*******************************************************************************/

/* Debug */
/* { border: 1px solid red !important; }
   { border: 1px solid orange !important; }
   { border: 1px solid yellow !important; }
   { border: 1px solid green !important; }
   { border: 1px solid blue !important; }
   { border: 1px solid purple !important; }
*/

/******************************************************************************
 Color Elements
*******************************************************************************/
.greenish { color: #57be92; }
.purplish { color: #6b77e7; }
.redish { color: #ff5d95; }
.yellowish { color: #ffe52a;}

/******************************************************************************
 Global Elements
*******************************************************************************/
* {
  /* Make widths static */
  box-sizing: border-box;
}

body {
  background: #fff;
  background-image: url("../images/memphis-colorful.png");
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
}

/******************************************************************************
 Navigation Elements
*******************************************************************************/
a, a:active, a:hover, a:visited {
  color: #fff39d;
  font-weight: 600;
}

#game-instructions-header button.btn-link:active, 
#game-instructions-header button.btn-link:hover {
  color: #6b77e7;
}

/******************************************************************************
 Header Elements
*******************************************************************************/
header .container-fluid {
  background: #fff;
  border-bottom: 1px solid #333;
}

h1, h3, h4 {
  font-family: 'Great Vibes', cursive;
}

h1 {
  font-size: 2.75rem;
  font-weight: bold;
  margin-bottom: 0;
}

/*
#game-instructions h3 {
  border-bottom: 1px solid #333;
}
*/

#game-instructions-header button,
#game-instructions-header button:active,
#game-instructions-header button:hover {
  font-size: 2rem;
  text-decoration: none;
}

#game-instructions-header button {
  color: #333;
}

h4 {
  margin: 1vh auto;
}

h5,
#user-losses,
#user-wins {
  display: inline-block;
  font-size: 1.5rem;
}

/******************************************************************************
 Main Elements (Primary Content)
*******************************************************************************/
main .container {
  margin-bottom: 10vh;
}

#game-instructions,
#random-number-container,
#user-score-container,
#user-tallies-container {
  border-radius: 5px;
}

#game-instructions {
  background: #fff;
  /* border: 2px solid #6b77e7;
  margin: 1vh auto;
  padding: 2vw; */
}

#random-number-container {
  background: #ffa2c3;
}

#user-score-container {
  background: #b9b6ec;
}

#random-number,
#user-score {
  font-size: 3rem;
}

#user-tallies-container {
  background: #98d5b9;
}

#user-feedback {
  font-size: 1.25rem;
  text-align: center;
}

/******************************************************************************
 Footer Elements
*******************************************************************************/
.fixed-bottom {
  border-top: 5px #57be92 solid;
  height: 8vh;
}

footer {
  background: #333;
  color: #fff;
}

footer #copyright {
  font-size: 0.75rem;
  margin: 1vh 0;
}

footer #attribution {
  font-size: 0.625rem;
}